[client]
ssl-ca=/home/cert/ca.pem
ssl-cert=/home/cert/client-cert.pem
ssl-key=/home/cert/client-key.pem
[mysqld]
bind-address = 0.0.0.0
ssl_ca=/home/cert/ca.pem
ssl_cert=/home/cert/server-cert.pem
ssl_key=/home/cert/server-key.pem.rsa
require_secure_transport = ON

